.sing-in-container{
  left: 0;
  width: 50%;
  z-index: 2;
}
.overlay-container{
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  z-index: 100;
}
.overlay{
  background-color: #ff416c;
  background: linear-gradient(to right,#ff4b2b,#ff416c);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left:-100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
}
.overlay-panel{
  position:absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: opx 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);

}
.overlay-left{
  transform: translateX(-20%);
}
.overlay-right{
  right: 0;
  transform: translateX(0);
}
button:active{
  transform: scale(.95);
}
button.press{
  background-color: transparent;
  border-color: #ffffff;
}
